@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Rye", serif;
}

body{
    background-color: black;
    padding: 15px;
}

header{
    max-width: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px auto 30px auto;
    border: 5px solid rgb(255, 0, 0);
    border-radius: 70px;
}

header > h1{
    color: rgb(255, 35, 35);
    font-size: 4em;
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}

#corpo{
    max-width: 400px;
    height: 320px;
    background-color: rgb(161, 2, 2);
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid red;
    box-shadow: 0px 0px 20px red;
}

#tela{
    max-width: 380px;
    height: 170px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    border: 5px solid yellow;
    box-shadow: 0px 0px 10px yellow;
    display: flex;
    flex-direction: row;
}

.telas{
    width: 125px;
    height: 170px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-size: 8.5em;
    text-align: center;
}

#tela1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#tela3{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#areaAposta{
    text-align: center;
    margin-top: 15px;
}

#areaAposta > input{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

#areaAposta > button{
    width: 90% ;
    height: 50px;
    border-radius: 5px;
}

#areaAposta > button:hover{
    background-color: rgb(201, 201, 201);
    cursor: pointer;
}

dialog{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(161, 2, 2);
    margin: auto;
    border: 5px solid red;
    box-shadow: 0px 0px 20px red;
    padding: 10px;
    text-align: center;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.478);
}

dialog > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
}

dialog > button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 900;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}